#datatable_paginate_wrapper {
    width: 100%;
}
main {
    min-height: 100vh;
    background: #13283b;
    &>*, table>*{
        color: #fff;
    }
    table {
        a {
            color: #fff;
        }
    }

    .list-answers {
        label {
            line-height: normal;
            margin-bottom: 0;
            &:hover {
                cursor: pointer;
            }
        }
        input[type="radio"] {
            width: 25px;
            height: 25px;
            display: inline-block;
            background-color: #fff;
            border-radius: 3px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            &:checked+label{
                color: #1cc88a;
            }

            &:checked {
                background-color: #1cc88a;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .wrap-question {
            display: flex;
            align-content: center;
            margin-top: 10px;
            input[type="radio"] {
                flex: 1;
                flex-basis: 25px;
            }
            label {
                flex: 1;
                flex-basis: calc(100% - 25px);
                padding-left: 10px;
            }
        }
    }

    #myModal {
        .modal-header>* {
            color: #000;
        }
        .modal-body p {
            color: #000;
        }
    }

    .col-md-8{
        &>.card{
            &>.card-header, &>.card-body {
                background: #13283b;
            }
        }
    }
}
